*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
  }
  
img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT  */
body{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

header{
    background-color: #282828;
    z-index: 999;
    overflow-x: hidden;
}

main{
    display: flex;
    height: calc(100vh - 92px);
    overflow: hidden;
}

.main-container{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: scroll;
    padding-top: 90px;
    position: relative;
}

.upgrade {
    min-height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    z-index: 9999;
}

 /* SCROLL-BAR STYLE */ 
 ::-webkit-scrollbar { 
    width: 5px;
  } 

  ::-webkit-scrollbar-thumb  { 
    visibility: hidden; 
    border-radius: 5px; 
    background-color: #BCFF30;
  } 

  .playlist:hover::-webkit-scrollbar-thumb  { 
    visibility:  visible;
  }

  .main-container:hover::-webkit-scrollbar-thumb  { 
    visibility:  visible;
  }

/* ----- BARRA DEI COMANDI ----- */
.cmd-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;
    gap: 8px;
}

/* SEZIONE DI SINISTRA - CMD__WIDGET CMD_INFO */
.cmd__widget {
    display: flex;
    gap:35px;
    align-items: center;
}

.song-wrapper, .song-cmd {
    display: flex;
    gap: 10px;
    align-items: center;
}

.song-cover {
    width: 35px;
    flex-shrink: 0;
    cursor: pointer;
}

.song-title {
    color: white;
    font-size: 0.85rem;
    cursor: pointer;
}

.song-artist {
    color: #777777;
    font-size: 0.7rem;
    transition: 500ms;
}

.song-artist:hover {
    color: white;
    text-decoration: underline;
}

.song-cmd ul {
    display: contents;
}

.song-cmd .icon {
    color: #7C7C7C;
    font-size: 1rem;
    transition: 500ms;
}

.song-cmd .icon:hover {
    color: white;
}

/* SEZIONE CENTRALE - CMD__MAIN  */
.cmd__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cmd-main__audio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cmd-main__audio ul {
    display: contents;
}

.cmd-main__audio .icon {
    color: #FFFFFF;
    font-size: 1rem;
}

.cmd-main__audio .icon-xl {
    font-size: 1.8rem;
    padding: 0 5px;
    transition: 500ms;
}

.cmd-main__audio .icon-xl:hover {
    transform: scale(1.2);
}

/* TIMEBAR  */
.cmd-main__timebar {
    display: flex;
    align-items: center;
    width: 35vw;
    gap: 10px;
    color: white;
    padding: 5px 0;
}

.timebar-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    height: 4px;
    width: 100%;
    background-color: #5B5B5B;
    border-radius: 999px;
    cursor: pointer;
}

.timebar-wrapper:hover .timebar-progression {
    background-color: #BCFF30;
}

.timebar-wrapper:hover .timebar-pointer {
    display: block;
}

.timebar-progression {
    width: 0%;
    height: 100%;
    background-color: #C5C5C5;
    border-radius: 999px;
    z-index: 999;
    position: relative;
    animation: bar-progression 60s linear infinite;
}

.timebar-pointer {
    display: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    transform: translate(50%, -25%);
}

.time {
    font-size: 0.65rem;
    cursor: pointer;
}

@keyframes bar-progression {
    0%: {
        width: 0%;
    }

    100% {
        width: 100%
    }
}

/* SEZIONE DI DESTRA - CMD_AUDIO  */
.cmd__audio {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cmd__audio ul {
    display: contents;
}

.cmd__audio .icon {
    color: white;
    font-size: 0.8rem;
}

.cmd__volume {
    width: 105px;
    flex-grow: 1;
}

.cmd__volume .timebar-progression{
    animation: none;
    width: 40%;
}

/* ----- SIDEBAR -----  */
.sidebar{
    min-width: 230px;
    background-color: black;
    position: relative;
    overflow-y: hidden;
    color: #717171;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
}

.logo-wrapper {
    max-width: 135px;
    padding: 25px 0 10px;
    cursor: pointer;
}

.logo-s {
    display: none;
}

.main-nav-wrapper {
    display: contents;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-nav:hover {
    color: white;
}

.main-nav.active, .main-nav:active  {
    color: white;
    position: relative;
}

.main-nav.active::before, .main-nav:active::before {
    content: '';
    display: block;
    height: 0px;
    width: 4px;
    background-color: #BCFF30;
    position: absolute;
    left: -20px;
    top: -5px;
    animation: main-nav-active ease-out 500ms;
    animation-fill-mode: forwards;
}

@keyframes main-nav-active {
    0%: {
        height: 0px;
    }

    100% {
        height: 33px;
    }
}

.main-nav-wrapper .icon{
    font-size: 1.5rem;
    transition: 500ms;
}

/* PLAYLIST */
.playlist-wrapper {
    display: contents;
}

.sidebar-menu-title {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    margin: 10px 0 -5px;
    cursor: pointer;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-y: auto;
}

.playlist-name {
    font-size: 0.9rem;
    transition: 500ms;
}

.playlist-name:hover {
    color: white;
}

.new-playlist {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 500ms;
}

.new-playlist:hover {
    color: white;
}

.new-playlist .icon-xl {
    font-size: 50px;
}


/* USER-INFO  */
.user-info {
    padding-bottom: 5px;
    background-color: black;
    z-index: 999;
}

.install-cta {
    color: #696969;
    padding-bottom: 8px;
    font-size: 0.9rem;
    border-bottom: 1px solid #696969;
}

.install-cta i {
    margin-right: 10px;
}

.user-profile {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 13px 0 0px;
    font-size: 1rem;
    font-weight: 500;
}

.user-img-wrapper {
    width: 26px;
    height: 26px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}

.user-img {
    width: 26px;
}

.nav-title {
    transition: 500ms;
}

.nav-title:hover {
    color: white;
}

/* ----- MAIN CONTAINER ----- */

/* UPGRADE SECTION  */
.upgrade-cta {
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 10px 40px;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 0;
    transform: translateY(50%);
    transition: 500ms;
}

.upgrade-cta:hover {
    transform: translateY(50%) scale(1.1);
}

/* MUSIC WRAPPER  */
.category-menu {
    color: #808080;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 5px;
}

.category-name {
    white-space: nowrap;
    padding: 15px 0;
    transition: 500ms;
}

.category-name:hover {
    color: white;
}

.category-name.active, .category-name:active {
    position: relative;
}

.category-name.active:after, .category-name:active::after {
    content: '';
    display: block;
    height: 4px;
    width: 0px;
    background-color: #BCFF30;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    animation: category-active ease-out 500ms;
    animation-fill-mode: forwards;
}

@keyframes category-active {
    0%: {
        width: 0px;
    }

    100% {
        width: 50px;
    }
}

.song-section-wrapper {
    padding: 20px 20px;
}

.song-section {
    display: flex;
    gap: 0px 1%;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 25px 0;
}

.song-section-title {
    color: white;
    cursor: pointer;
}

.song-section-subtitle {
    color: #808080;
    margin-top: 10px;
    cursor: pointer;
}

/* SONG CARD */
.song-card-wrapper {
    width: calc(93% / 8);
    padding: 5px 5px;
    transition: ease-out 500ms;
}

.song-card-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.song-card-title {
    color: white;
    text-align: center;
    padding: 15px 0;
}

.song-card-title:hover {
    text-decoration: underline;
}

.song-card-artist {
    color: #808080;
    text-align: center;
    cursor: pointer;
}

.song-cover-wrapper {
    position: relative;
}

.song-card-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    cursor: pointer;
}

.song-cover-wrapper:hover .song-card-overlay {
    opacity: 1;
}

.song-card-overlay:active .play-icon-hover {
    transform: scale(0.6);
}

.play-icon-hover {
    width: 40%;
    transition: 500ms;
    animation-timing-function: ease-in;
}

.song-cover-wrapper.artist-wrapper {
    border-radius: 50%;
    overflow: hidden;
}


















/* DEBUG  */
.debug header {
    border: 5px solid #27D0B2;
}

.debug main {
    border: 5px solid #00A2D6;
}

.debug .sidebar {
    border: 5px solid #FFA800;
}

.debug .main-container {
    border: 5px solid #FF09E6;
}

.debug .cmd-wrapper {
    border: 2px dashed #00A2D6;
}

.debug .cmd__widget, .debug .cmd__main, .debug .cmd__audio {
    border: 2px dashed #FFA800;
}

.debug .cmd-main__audio {
    border: 2px solid #00A2D6;
}

.debug .cmd-main__timebar {
    border: 2px solid #7774FF;
}

.debug .logo-wrapper, .debug .sidebar-menu, .debug .user-info {
    border: 1px dashed white;
}

.debug .main-nav-wrapper, .debug .playlist {
    border: 2px dashed green;
}