*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
  }
  
img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT  */
body{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}

header{
    /* min-height: 88px; */
    background-color: #282828;
}

main{
    display: flex;
    flex-grow: 1;
}

.sidebar{
    width: 230px;
}

.main-container{
    flex-grow: 1;
}

/* ----- BARRA DEI COMANDI ----- */
.cmd-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

/* SEZIONE DI SINISTRA - CMD__WIDGET CMD_INFO */
.cmd__widget {
    display: flex;
    gap: 40px;
    align-items: center;
}

.song-wrapper, .song-cmd {
    display: flex;
    gap: 10px;
    align-items: center;
}

.song-cover {
    width: 50px;
}

.song-title {
    color: white;
    font-size: 1rem;
}

.song-artist {
    color: #777777;
    font-size: 0.8rem;
}

.song-artist:hover {
    color: white;
    text-decoration: underline;
}

.song-cmd ul {
    display: contents;
}

.song-cmd .icon {
    color: #7C7C7C;
    font-size: 1.2rem;
}

.song-cmd .icon:hover {
    color: white;
}

/* SEZIONE CENTRALE - CMD__MAIN  */
.cmd__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cmd-main__audio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cmd-main__audio ul {
    display: contents;
}

.cmd-main__audio .icon {
    color: #FFFFFF;
    font-size: 18px;
}

.cmd-main__audio .icon-xl {
    font-size: 35px;
    padding: 0 20px;
}

.cmd-main__audio .icon-xl:hover {
    transform: scale(1.2);
}

/* TIMEBAR  */
.cmd-main__timebar {
    display: flex;
    align-items: center;
    width: 50vw;
    gap: 20px;
    color: white;
    padding: 5px 0;
}

.timebar-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    height: 8px;
    width: 100%;
    background-color: #5B5B5B;
    border-radius: 999px;
}

.timebar-wrapper:hover .timebar-progression {
    background-color: green;
}

.timebar-wrapper:hover .timebar-pointer {
    display: block;
}

.timebar-progression {
    width: 25%;
    height: 8px;
    background-color: #C5C5C5;
    border-radius: 999px;
    z-index: 999;
    position: relative;
}

.timebar-pointer {
    display: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    transform: translate(50%, -25%);
}

.time {
    font-size: 0.8rem;
}

/* SEZIONE DI DESTRA - CMD_AUDIO  */
.cmd__audio {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cmd__audio ul {
    display: contents;
}

.cmd__audio .icon {
    color: white;
    font-size: 0.8rem;
}

.cmd__volume {
    width: 120px;
}






















/* DEBUG  */
.debug header {
    border: 5px solid #27D0B2;
}

.debug main {
    border: 5px solid #00A2D6;
}

.debug .sidebar {
    border: 5px solid #FFA800;
}

.debug .main-container {
    border: 5px solid #FF09E6;
}

.debug .cmd-wrapper {
    border: 2px dashed #00A2D6;
}

.debug .cmd__widget, .debug .cmd__main, .debug .cmd__audio {
    border: 2px dashed #FFA800;
    height: 100%;
    min-width: 150px;
}

.debug .cmd-main__audio {
    border: 2px solid #00A2D6;
}

.debug .cmd-main__timebar {
    border: 2px solid #7774FF;
}