/* ----- RESPONSIVE ----- */

@media screen and (max-width:800px) {
    .song-cmd {
        flex-direction: column;
        gap: 0px;
    }
}

@media screen and  (max-width:550px) {
    .cmd__widget {
        gap: 12px;
    }

    .cmd__audio {
        gap: 8px;
    }

    .cmd__audio .icon {
        font-size: 0.75rem;;
    }

    .cmd__volume {
        width: 85px;
    }
}