/* ----- RESPONSIVE ----- */

@media screen and (max-height:500px) {
    .user-info {
        display: none;
    } 
}

@media screen and (max-width:800px) {
    .song-cmd {
        flex-direction: column;
        gap: 0px;
    }
}

@media screen and  (max-width:550px) {
    .sidebar {
        width: 4rem;
    }

    .user-info {
        width: 4rem;
    }

    .upgrade {
        width: calc(100% - 4rem);
    }

    .install-cta {
        border-bottom: none;
    }
    
    .install-cta i {
        margin-left: 5px;
    }
    
    .nav-title {
        display: none;
    }

    .logo-wrapper {
        margin-bottom: 0px;
    }
    
    .logo-s {
        display: block;
        width: 1.5rem;
    }
    
    .logo-l {
        display: none;
    }
    
    .sidebar-menu-title{
        display: none;
    }
    
    .new-playlist {
        display: none;
    }

    .playlist {
        display: none;
    }
    
    .cmd__widget {
        gap: 12px;
    }

    .cmd__audio {
        gap: 8px;
    }

    .cmd__audio .icon {
        font-size: 0.75rem;;
    }

    .cmd__volume {
        width: 70px;
    }
}