/* ----- RESPONSIVE ----- */

@media screen and (max-height:500px) {
    .user-info {
        display: none;
    } 
}

@media screen and (max-width:878px) {
    .song-card-wrapper {
        width: 23%;
    }
}

@media screen and (max-width:659px) {
    .song-cmd {
        flex-direction: column;
        gap: 0px;
    }

    .song-card-wrapper {
        width: 48%;
    }
}

@media screen and  (max-width:552px) {
    /* sidebar responsive */
    .sidebar {
        min-width: 64px;
        align-items: center;
    }

    .logo-wrapper {
        padding: 5px 0;
        max-width: 64px;
    }
    
    .logo-s {
        display: block;
    }
    
    .logo-l {
        display: none;
    }

    .main-nav-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .main-nav {
        gap: 0px;
    }
    
    .main-nav.active::before {
        display: none;
    }
    
    .nav-title {
        display: none;
    }
    
    .playlist-wrapper{
        display: none;
    }

    .user-info {
        width: 1.5rem;
    }

    .install-cta {
        border-bottom: none;
    }
    
    .install-cta i {
        margin-left: 5px;
    }

    /* upgrade section responsive */
    .upgrade {
        width: calc(100% - 4rem);
    }
    
    /* barra dei comandi responsive  */
    .cmd__widget {
        gap: 12px;
    }

    .cmd__audio {
        gap: 8px;
    }

    .cmd__audio .icon {
        font-size: 0.75rem;;
    }

    .cmd__volume {
        width: 70px;
    }
}